## Requirements for documentation
cairocffi
django-tagging==0.5.0
pytz
git+https://github.com/graphite-project/whisper.git#egg=whisper
git+https://github.com/graphite-project/ceres.git#egg=ceres
Django<5
pyparsing>=3.0.6
alabaster==0.7.12
Sphinx<7.4.0
jinja2<3.1.4
sphinx_rtd_theme
urllib3
scandir;python_version<"3.5"